html, body {
  margin: 0;
  padding: 0;
  background-color: #000;  
  font-family: "Zilla Slab";
}

.parent{
  display: grid;
  grid-template-columns: 30vw 65vw 5vw;
  grid-template-rows: 20vh 60vh 20vh; 
  justify-content: space-around;
}

.child{
  /* border: 3px solid #333; */
  background-color: #000;  
}

.container0{
  grid-column: span 1;
  padding: 1em;
  margin: .1em;
}

h1{
  font-size: 1.2rem;
  color: #0050ff;
  /* color: #02458880; */
}

.container1{
  grid-column: span 2;
  /* padding: 1em; */
  /* margin: .1em; */
}

p{
  font-size: .9rem;
  width: 100%;
  color: rgb(219, 219, 219);
}

.container2{
  grid-column: span 1;
}
.container3{
  width: 100%;
  height: auto;
  grid-column: span 3;
}

.container4{
  grid-column: span 1;
}

.container5{
  grid-column: span 3;
  justify-self: center; 
}

.btn{
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  font-size: 2em;
  /* padding: 1em 1em; */
  margin: .5em;
  background-color: #1128f881;
  border: none;
  color: rgb(204, 202, 202);
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
  border-radius: 35px;
  box-shadow: 1px 1px rgba(156, 156, 156, 0.39);
}

.btn:active{
  background-color: #6903196b;
  color: #f7e815;
  box-shadow: 0px 0px rgba(250, 208, 208, 0.39);
}