html, body {
  margin: 0;
  padding: 0;
  background-color: #000;  
  width: 100vw;
  height: 100vh;
}

.parent{
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 15vh 70vh 15vh; 
  justify-content: space-around;
}

.parent.drone{
  background-color: black;
}

.parent.wired{
  background-color:#06af6e;
}

.child{
  /* border: 3px solid #333; */
  /* background-color: #000;   */
}

.container0{
  grid-column: span 1;
  padding: 1em;
  margin: .1em;
}

h1{
  font-size: 1.2rem;
  /* color: #01277a; */
  /* color: #02458880; */
}

.container1{
  grid-column: span 1;
  width: 100%;
  height: auto;
}

p{
  font-size: .9rem;
  color: rgb(219, 219, 219);
}

.container2{
  width: 100%;
  height: auto;
  grid-column: span 2;
}

.container3{
  grid-column: span 2;
  justify-self: center; 
}

.btn{
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  font-size: 2em;
  /* padding: 1em 1em; */
  margin: .5em;
  background-color: #1b50fdb6;
  border: none;
  color: rgb(204, 202, 202);
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
  border-radius: 35px;
  box-shadow: 1px 1px rgba(156, 156, 156, 0.39);
}

.btn:active{
  background-color: #6903196b;
  color: #f7e815;
  box-shadow: 0px 0px rgba(250, 208, 208, 0.39);
}

#droneTitle, 
#wiredTitle,
#droneText,
#wiredText{
  display: none;
}

#droneTitle.show, 
#droneText.show{
  display: inherit;
  color:cornsilk;
  font-family: "Zilla Slab";
}

#wiredTitle.show,
#wiredText.show{
  display: inherit;
  color: #01277a;
  font-family: "kanit light";
}

.Shoot{
  display: none;
}

.Shoot.show{
  display: inherit;
}

.overlay{
  opacity: 1;
  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(248, 204, 58, 0.692); */
  background: repeating-linear-gradient(45deg, hsl(64,83%,66%) 0px, hsl(64,83%,66%) 6px,hsl(109,83%,66%) 6px, hsl(109,83%,66%) 12px,hsl(154,83%,66%) 12px, hsl(154,83%,66%) 18px,hsl(199,83%,66%) 18px, hsl(199,83%,66%) 24px,hsl(244,83%,66%) 24px, hsl(244,83%,66%) 30px,hsl(289,83%,66%) 30px, hsl(289,83%,66%) 36px,hsl(334,83%,66%) 36px, hsl(334,83%,66%) 42px,hsl(19,83%,66%) 42px, hsl(19,83%,66%) 48px);
  /* background-image: linear-gradient(90deg, rgba(6, 6, 6, 0.01) 0%, rgba(6, 6, 6, 0.01) 1%,rgba(131, 131, 131, 0.01) 1%, rgba(131, 131, 131, 0.01) 14%,rgba(250, 250, 250, 0.01) 14%, rgba(250, 250, 250, 0.01) 26%,rgba(30, 30, 30, 0.01) 26%, rgba(30, 30, 30, 0.01) 62%,rgba(117, 117, 117, 0.01) 62%, rgba(117, 117, 117, 0.01) 66%,rgba(248, 248, 248, 0.01) 66%, rgba(248, 248, 248, 0.01) 76%,rgba(39, 39, 39, 0.01) 76%, rgba(39, 39, 39, 0.01) 100%),linear-gradient(90deg, rgba(57, 57, 57, 0.06) 0%, rgba(57, 57, 57, 0.06) 4%,rgba(227, 227, 227, 0.06) 4%, rgba(227, 227, 227, 0.06) 26%,rgba(67, 67, 67, 0.06) 26%, rgba(67, 67, 67, 0.06) 27%,rgba(126, 126, 126, 0.06) 27%, rgba(126, 126, 126, 0.06) 39%,rgba(103, 103, 103, 0.06) 39%, rgba(103, 103, 103, 0.06) 72%,rgba(16, 16, 16, 0.06) 72%, rgba(16, 16, 16, 0.06) 76%,rgba(21, 21, 21, 0.06) 76%, rgba(21, 21, 21, 0.06) 88%,rgba(69, 69, 69, 0.06) 88%, rgba(69, 69, 69, 0.06) 100%),linear-gradient(90deg, rgba(156, 156, 156, 0.05) 0%, rgba(156, 156, 156, 0.05) 12%,rgba(54, 54, 54, 0.05) 12%, rgba(54, 54, 54, 0.05) 48%,rgba(169, 169, 169, 0.05) 48%, rgba(169, 169, 169, 0.05) 59%,rgba(104, 104, 104, 0.05) 59%, rgba(104, 104, 104, 0.05) 62%,rgba(165, 165, 165, 0.05) 62%, rgba(165, 165, 165, 0.05) 68%,rgba(124, 124, 124, 0.05) 68%, rgba(124, 124, 124, 0.05) 77%,rgba(189, 189, 189, 0.05) 77%, rgba(189, 189, 189, 0.05) 85%,rgba(173, 173, 173, 0.05) 85%, rgba(173, 173, 173, 0.05) 100%),linear-gradient(90deg, rgba(182, 182, 182, 0.07) 0%, rgba(182, 182, 182, 0.07) 22%,rgba(122, 122, 122, 0.07) 22%, rgba(122, 122, 122, 0.07) 28%,rgba(62, 62, 62, 0.07) 28%, rgba(62, 62, 62, 0.07) 44%,rgba(89, 89, 89, 0.07) 44%, rgba(89, 89, 89, 0.07) 61%,rgba(110, 110, 110, 0.07) 61%, rgba(110, 110, 110, 0.07) 83%,rgba(185, 185, 185, 0.07) 83%, rgba(185, 185, 185, 0.07) 86%,rgba(192, 192, 192, 0.07) 86%, rgba(192, 192, 192, 0.07) 100%),linear-gradient(90deg, rgba(8, 8, 8, 0.06) 0%, rgba(8, 8, 8, 0.06) 54%,rgba(48, 48, 48, 0.06) 54%, rgba(48, 48, 48, 0.06) 57%,rgba(245, 245, 245, 0.06) 57%, rgba(245, 245, 245, 0.06) 86%,rgba(12, 12, 12, 0.06) 86%, rgba(12, 12, 12, 0.06) 94%,rgba(225, 225, 225, 0.06) 94%, rgba(225, 225, 225, 0.06) 100%),linear-gradient(90deg, rgb(53, 169, 225) 0%,rgb(1, 145, 219) 80%,rgb(26, 221, 247) 100%); */
  background-size: 200% 200%;
  animation: AnimationName 60s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.droneOverlay,
.wiredOverlay{
  opacity: 1;
  position: absolute;
  /* z-index: -1; */
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  background: #001274;
}

.droneOverlay,
.wiredOverlay,
.overlay{
  display: none;
}

.droneOverlay.show,
.wiredOverlay.show,
.overlay.show{
  display: block;
}

.overlayinfo,
.overlayTitle{
  font-family: "kanit light";
  font-size: 1.2em;
  color:antiquewhite;
  padding-left : 2em;
  padding-right : 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  /* border: 1em; */
}

.start{
  font-size: 1.2em;
  margin: 1em;  
  padding: 2em;
  background-color: #001274;
  border: 2px;
  color: antiquewhite;
  justify-self:center;
  text-decoration: underline;
}

.resign{
  opacity: 1;
  position: absolute;
  bottom: 5%;
  right: 5%;
  /* background: #001274; */
}

.scoreDiv{
  opacity: 1;
  position: absolute;
  bottom: 5%;
  left: 5%;
  /* background: #001274; */
}

#score{
  font-size: 1em;
  margin: 1em;  
  padding: .5em;
  background-color: #00505a8f;
  border: 2px;
  color: rgb(163, 163, 162);
  justify-self:center;
}

.notification{
  opacity: 1;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 40vw;
  height: 10vh;
  left: 0;
  background-color: #059cd84d;
  color: #f5060667;
  display: grid;
  justify-items: center;
  overflow: hidden;
  /* border-radius: 5px; */
  margin: .5em;
  padding: .5em;
}

#notify{
  width: 100%;
  height: 100%;
  /* transform: translateX(100%); */
  animation: scroll-up 5s linear infinite;
  justify-items: center;
  color: rgba(150, 245, 72, 0.5);
}

@keyframes scroll-up {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}

.notification,
.scoreDiv,
.resign-button1,
.resign-button2{
  display: none;
}

.notification.show,
.scoreDiv.show,
.resign-button1.show,
.resign-button2.show{
  display: inherit;
}

.resign-button1,
.resign-button2{
  font-size: .8em;
  margin: 1em;  
  padding: .5em;
  background-color: #00505a8f;
  border: 2px;
  color: rgb(163, 163, 162);
  justify-self:center;
}

.info{
 font-family: "kanit light";
 position: absolute;
 left: 1em;
 bottom: .5em;
 color: #1f1e1e; 
}

.mood{
  font-family: "zilla slab";
  font-size: 1.5em;
  position: absolute;
  left: 10%;
  top: 3em;
  text-align: center;
  color: #fa0053; 
 }

 .share{
  font-size: 20px;
  position: absolute;
  left: 25%;
  bottom: 25%;
  border: 0;
  padding: 25px;
  box-shadow: 10px 10px rgba(0, 0, 0);
  color:black; 
  justify-self: center; 
  background-color: rgb(255, 255, 255);
  width: 200px;
}

.share{
  display: none;
}

.share.show{
  display: block;
}

.shareOverlay{
  opacity: 1;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
}

.sharePanel{
  position:absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  width: 40%;
  z-index: 2;
  padding: 2em;
  background: #001274;
  box-shadow: 10px 10px black;
}

#shareURL{
  font-family: "kanit light";
  font-size: 1.2em;
  color:antiquewhite;
}

#url{
  font-family: "kanit light";
  font-size: 1.2em;
  color:antiquewhite;
  text-decoration: underline;
} 

.shareOverlay,
.sharePanel{
  display: none;
}

.shareOverlay.show,
.sharePanel.show{
  display: grid;
  justify-items: center;
}

.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  /* background-color: darkseagreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(45deg, hsl(64,83%,66%) 0px, hsl(64,83%,66%) 6px,hsl(109,83%,66%) 6px, hsl(109,83%,66%) 12px,hsl(154,83%,66%) 12px, hsl(154,83%,66%) 18px,hsl(199,83%,66%) 18px, hsl(199,83%,66%) 24px,hsl(244,83%,66%) 24px, hsl(244,83%,66%) 30px,hsl(289,83%,66%) 30px, hsl(289,83%,66%) 36px,hsl(334,83%,66%) 36px, hsl(334,83%,66%) 42px,hsl(19,83%,66%) 42px, hsl(19,83%,66%) 48px);
  background-size: 200% 200%;
  animation: AnimationName 60s ease infinite;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

